DATABASE_URL = "postgresql://postgres:password@localhost:5432/ecommercely"

PORT = 4000

JWT_SECRET_KEY = "THISISASECRETKEY"

NODE_ENV = 'development'

ALLOWED_ORIGINS ='http://localhost:3000,http://localhost:3001'

MEDIA_URL = 'http://localhost:4000'

NODEMAILER_EMAIL = krishjotaniya9@gmail.com
NODEMAILER_PASS = kjecbzwyjxfkxwxh
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
MAIL_FROM_NAME=Ecommercely

FRONTEND_URL=http://localhost:3000

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

STRIPE_PUBLISHABLE_KEY =
STRIPE_SECRET_KEY = 

STRIPE_WEBHOOK_SECRET = 

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

