DATABASE_URL = "postgresql://postgres:password@localhost:5432/snapkart"

PORT = 4000

JWT_SECRET_KEY = "THISISASECRETKEY"

NODE_ENV = 'development'

ALLOWED_ORIGINS ='http://localhost:3000,http://localhost:3001'

MEDIA_URL = 'http://localhost:4000'

NODEMAILER_EMAIL=
NODEMAILER_PASS=

FRONTEND_URL=http://localhost:3000